@using WebApplication1.Models.Classes
@model List<ItemExtrato>

@{
    ViewBag.Title = "Impressao";
}
@{
    float TotalDespesas = 0;
    float TotalReceitas = 0;
    foreach (ItemExtrato item in Model)
    {
        if (item.DataVencimento.Month == DateTime.Today.Month)
        {
            if (item.Tipo == 1)
            {
                TotalDespesas += item.Valor;
            }
            else
            {
                TotalReceitas += item.Valor;
            }
        }
    }
}
@using (Html.BeginForm("Exportar", "Extrato", FormMethod.Post))
{
    <input type="submit" , value="Exportar PDF" />
}
<h4>Extrato</h4>
<table class="table" style="background-color:silver">
    <tr style="font-size: 18px">
        <th>@DateTime.Today.ToString("MMMM/yyyy").ToUpper()</th>
        <th>Total de Receitas: @Html.Raw(String.Format("R$ {0:n2}", TotalReceitas))</th>
        <th>Total de Despesas: @Html.Raw(String.Format("R$ {0:n2}", TotalDespesas))</th>
        <th>Saldo: @Html.Raw(String.Format("R$ {0:n2}", TotalReceitas - TotalDespesas))</th>
    </tr>
</table>
<hr />
<table class="table">
    <tr>
        <th>Valor</th>
        <th>Tipo/Nome</th>
        <th>Data de Realização</th>
        <th>Data de Vencimento</th>
        <th>Pagamento</th>
        <th>Saldo Parcial</th>
    </tr>
    @for (int i = 0; i < Model.Count(); i++)
    {
        String color = "";
        if (Model[i].Tipo == 1)
        {
            color = "Red";
        }
        else
        {
            color = "Blue";
        }
        <tr style="color: @color">
            <td>
                @Html.HiddenFor(x => Model[i].Valor)
                @Html.DisplayFor(x => Model[i].Valor)
            </td>
            <td>
                @Html.HiddenFor(x => Model[i].Definicao)
                @Html.DisplayFor(x => Model[i].Definicao)
            </td>
            <td>
                @Html.HiddenFor(x => Model[i].DataRealizacao)
                @Html.DisplayFor(x => Model[i].DataRealizacao)
            </td>
            <td>
                @Html.HiddenFor(x => Model[i].DataVencimento)
                @Html.DisplayFor(x => Model[i].DataVencimento)
            </td>
            <td>
                @Html.HiddenFor(x => Model[i].Pagamento)
                @Html.DisplayFor(x => Model[i].Pagamento)
            </td>
            <td style="color: black; font-weight:bold">
                @Html.HiddenFor(x => Model[i].Saldo)
                @Html.DisplayFor(x => Model[i].Saldo)
            </td>
        </tr>
    }
</table>

